**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results

/themes/**/package-lock.json
.yarnrc
package.json
yarn.lock

docker-compose/database-dump/*
!docker-compose/database-dump/.keep

bundles/data/document_library/*
!bundles/data/document_library/.keep

bundles/data/elasticsearch-data/*
!bundles/data/elasticsearch-data/.keep

bundles/deploy/*
!bundles/deploy/.keep

bundles/logs/*
!bundles/logs/.keep

bundles/osgi/configs/*
!bundles/osgi/configs/.keep

bundles/osgi/modules/*
!bundles/osgi/modules/.keep

bundles/osgi/war/*
!bundles/osgi/war/.keep

bundles/*/*
