.form-group {

	&:not(.input-checkbox-wrapper):not(.custom-control) {

		label {
			margin: 0 0 0 .75rem;
			padding: 0 .25rem;
			position: absolute;
			background-color: $white;
			transform: translateY(-50%);
			z-index: 1;
		}
	}
}

.form-feedback-item {
	padding: 0.375rem 2.5rem;
	border-radius: $border-radius;
	background-size: $form-feedback-font-size;
	background-position: top 50% left 1rem;
	background-repeat: no-repeat;

	.has-success & {
		background-color: $form-feedback-success-bg;
		background-image: clay-icon(check-circle-full, $input-success-label-color);
	}

	.has-warning & {
		background-color: $form-feedback-warning-bg;
		background-image: clay-icon(warning-full, $input-warning-label-color);
	}

	.has-error & {
		background-color: $form-feedback-danger-bg;
		background-image: clay-icon(exclamation-full, $input-danger-label-color);
	}
}


.form-control-sm,
.input-sm {
	padding-top: $input-padding-y-sm;
	padding-bottom: $input-padding-y-sm;
}

.help-block {
	display: block;
	font-size: $small-font-size;
	color: $text-muted;
	margin-top: .3rem;
	margin-left: 1rem;
}

.reference-mark {
	color: $input-label-reference-mark-color;
	display: inline;
}

.lexicon-icon-asterisk {
	height: .6rem;
	width: .6rem;
}