.table,
.table-list {

	thead {

		th,
		td {

			&,
			&:first-child,
			&:last-child,
			&:only-child {
				box-shadow: inset 0 .0625rem $table-list-border-color, inset 0 -.0625rem $table-list-border-color;
			}
		}
	}
}

.table-sticky {

	@include media-breakpoint-down(md) {

		thead,
		tbody {

			th,
			td {

				&:first-child {
					position: sticky;
					left: 0;
					z-index: 1;
					box-shadow: 0 .625rem .625rem $table-list-border-color;
				}
			}
		}

		thead {

			td,
			th {

				&:first-child {
					box-shadow: inset 0 .0625rem $table-list-border-color,
						inset 0 -.0625rem $table-list-border-color,
						0 .625rem .625rem $table-list-border-color;
				}
			}
		}
	}
}