authorizationEndPoint="https://churchmutualinsurance.b2clogin.com/churchmutualinsurance.onmicrosoft.com/oauth2/v2.0/authorize?p\=B2C_1A_Liferay_susi&prompt\=login"
discoveryEndPoint=""
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=["RS256"]
issuerURL="https://churchmutualinsurance.b2clogin.com/201724de-1ad1-4530-bc45-cc294c978635/v2.0/"
jwksURI="https://churchmutualinsurance.b2clogin.com/churchmutualinsurance.onmicrosoft.com/b2c_1a_liferay_susi/discovery/v2.0/keys"
openIdConnectClientId="adf9a745-d12e-4ebd-963c-ae324fef1789"
openIdConnectClientSecret="3jiYz.U2v90_ydJA4EmiEl8PSz_0.rm~B5"
providerName="Azure\ AD\ B2C"
scopes="openid\ https://churchmutualinsurance.onmicrosoft.com/adf9a745-d12e-4ebd-963c-ae324fef1789/read"
subjectTypes=["pairwise"]
tokenEndPoint="https://churchmutualinsurance.b2clogin.com/churchmutualinsurance.onmicrosoft.com/b2c_1a_liferay_susi/oauth2/v2.0/token"
userInfoEndPoint="https://graph.microsoft.com/v1.0/me"
