certificateFormat="PKCS#12"
sslKeystorePath = "F:\\opt\\elasticsearch\\certs\\elastic-nodes.p12"
sslTruststorePath = "F:\\opt\\elasticsearch\\certs\\elastic-nodes.p12"
requiresAuthentication=B"true"
username="elastic"
password="CMICES22!"
transportSSLVerificationMode="certificate"
transportSSLEnabled=B"true"
