authorizationEndPoint="https://churchmutualinsurancenp.b2clogin.com/churchmutualinsurancenp.onmicrosoft.com/oauth2/v2.0/authorize?p\=B2C_1A_Liferay_susi&prompt\=login"
discoveryEndPoint=""
discoveryEndPointCacheInMillis="360000"
idTokenSigningAlgValues=["RS256"]
issuerURL="https://churchmutualinsurancenp.b2clogin.com/705f6bde-cc44-49f2-8cdc-878cb6883cb2/v2.0/"
jwksURI="https://churchmutualinsurancenp.b2clogin.com/churchmutualinsurancenp.onmicrosoft.com/b2c_1a_liferay_susi/discovery/v2.0/keys"
openIdConnectClientId="d5c0fba6-f65a-492d-924b-d7f33cda6a4e"
openIdConnectClientSecret="J9-7x~..cVF4OB6JwJz8Pq6Id1ken8-d70"
providerName="Azure\ AD\ B2C"
scopes="openid\ https://churchmutualinsurancenp.onmicrosoft.com/d5c0fba6-f65a-492d-924b-d7f33cda6a4e/read"
subjectTypes=["pairwise"]
tokenEndPoint="https://churchmutualinsurancenp.b2clogin.com/churchmutualinsurancenp.onmicrosoft.com/b2c_1a_liferay_susi/oauth2/v2.0/token"
userInfoEndPoint="https://graph.microsoft.com/v1.0/me"
